.inputDetail{
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #dbacbc;
	background: rgba(#bd0743, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
}

.form-label{
	font-weight: bold;
}